@use "../../../styles/themes.scss";
@use "../../../styles/abstracts/mixins" as *;

.template-selector {
  background-color: var(--primary-color);
  @include flex(column);
  padding-top: 11vh;
  background-color: transparent;
  overflow: scroll;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 0 30px 30px 30px;
  .template-grid {
    @include grid($columns: 4, $gap: 20px);
    padding: 20px;

    #template_Img {
      width: 350px;
      height: 430px;
      border-radius: 7px;
    }
  }
}
