@import "./abstracts/variables";
@import "./themes.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    // background-color: $button_color;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

[data-theme="dark"] .app{
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    background-image: url("../assets/dark_bg2.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vw;
}

[data-theme="light"] .app{
    max-width: 100vw;
    // max-height: 100vh;
    min-height: 100vh;
    overflow: scroll;
    background-image: url("../assets/light_bg1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vw;
}

button {
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    background-color: $secondary-color;
    color: $primary-color;
    margin: 2px 5px;
}

input {
    border: 1px solid $third-color;
    border-radius: 3px;
    padding: 2px 3px;
    outline: none;
    caret-color: $secondary-color;
}


