.template-three {
  font-family: 'Courier New', monospace;
  background-color: #cdafff;
  color: #4e342e;
  padding: 25px;

  h1 {
    color: #3e2723;
    border-bottom: 1px dashed #8d6e63;
  }

  a {
    color: #6d4c41;
    text-decoration: underline;
  }
}
